.ctaTile {
    width: 33.333%;
    float: left;
    height: 150px;
}

.ctaModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    background: #4094c7;
    color: white;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease;
    overflow: auto;
}

.ctaModal-close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    /* background: url(img/close.png) no-repeat center; */
    width: 32px;
    height: 32px;
    padding: 32px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease;
}

.ctaModal-close-btn:hover {
    opacity: 1;
}

.ctaModal.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}